.pricing{
  background-color: var(--background-color);
  padding-top: 0;
}

.pricing__title{
  padding: 0 0 7.5rem;
}

  .pricing__text{
    margin: 0 auto;
    text-align: center;
  }

  
  .pricing__text--desktop{
    display: none;
  }

.pricing__body{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

  .pricing__card{
    border: 1px solid var(--primary-color);
    padding: 5rem 4rem;
    text-align: center;
    background-color: var(--second-color);
  }

  .pricing__card--dark{
    color: var(--text-color-white);
    background-color: var(--color-dark);
  }

    .pricing__card-name{
      padding: 0 0 3.5rem;
    }

    .pricing__card-description{
      margin: 0 auto;
      padding: 0 0 3.5rem;
      max-width: 160px;
    }

    .pricing__price{
      padding: 0 0 3.5rem;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
    }

      .pricing__price .value{
        padding: 0 1rem 0 0;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        font-weight: 700;
        font-size: 4rem;
        text-align: right;
      }

      .pricing__price .symbol{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        text-align: left;
        display: flex;
        align-items: flex-end;
      }

      .pricing__price .period{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        text-align: left;
      }
    
    .pricing__feature{
      padding: 0 0 3.5rem;
    }

      .item{
        list-style-type: none;
        padding: 0 0 1.5rem 4.2rem;
        position: relative;
        text-align: start;
      }
      
      .item::before{
        content: '';
        width: 33px;
        height: 32px;
        position: absolute;
        top: -0.8rem;
        left: 0;
        background-image: url("../image/check-icon.svg");
        background-repeat:no-repeat;
      }

      .item-nocheck::before{
        background-image: url("../image/nocheck-icon.svg");
      }

    .pricing__btn{
      width: 100%;
    }

@media (min-width: 768px) {
  .pricing{
  }
  
  .pricing__title{
    padding: 0 0 8rem;
  }
  
    .pricing__text{
      display: none;
    }
    
    .pricing__text--desktop{
      display: block;
    }
  
  .pricing__body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
  }
  
    .pricing__card{
      margin: 4rem 0 0 0;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .pricing__card--dark{
      margin: 0;
    }
}